 .scrollspy-example {
     position: relative;
     height: 200px;
     margin-top: .5rem;
     overflow: auto;
     overflow-x: hidden;
 }

 .scrollspy-example::-webkit-scrollbar {
     /*滚动条整体样式*/
     width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
     height: 1px;
 }


 .scrollspy-example::-webkit-scrollbar-thumb {
     /*滚动条里面小方块*/
     border-radius: 10px;
     box-shadow   : inset 0 0 5px rgb(255, 255, 255);
     background   : #0780fc;
 }


 .scrollspy-example::-webkit-scrollbar-track {
     /*滚动条里面轨道*/
     box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
     border-radius: 10px;
     background   : #ededed;
 }


 #goTopBtn {
    position: fixed;
    line-height: 46px;
    text-align: center;
    width: 46px;
    bottom: 35px;
    height: 46px;
    cursor: pointer;
    background: #fff;
    display: none;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    font-size: 22px;
    color: #999;
}


 body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}


.vcenter {
	    position:absolute;
	    left:40%;
	    top:40%;
	    translateX(-50%);
	    translateY(-50%);
        font-size:100px;
    }