
<!DOCTYPE html>
<html>
<head>
<title>数据库OJ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/homepage/w3.css">
<link rel="stylesheet" href="/homepage/css.css">
<link rel="stylesheet" href="/homepage/font-awesome.min.css">
    <link rel="stylesheet" href="/jui/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/background.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

 #subpage {
            display: none;
            position: sticky;
            top: 10%;
            width : 80vw;
            height: 90vh;
            padding: 20px;
            border: 5px solid #f0f3f3;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">数据库OJ</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa "></i> TEAM</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa "></i> WORK</a>
      <a href="/login" class="w3-bar-item w3-button"><i class="fa "></i> LOGIN</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>



<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span id="ppp" class="w3-jumbo w3-hide-small"></span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">开始吧</span><br>
    <span class="w3-large">不要浪费时间了 </span>
    <p><a href="/login" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">了解更多并开始</a></p>
  </div>

</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">关于我们的数据库OJ</h3>
  <p class="w3-center w3-large">学无止境,气有浩然</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa  w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p>使用HTML+CSS+JS</p>
    </div>
    <div class="w3-quarter">
      <i class="fa  w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>我们认真工作</p>
    </div>
    <div class="w3-quarter">
      <i class="fa  w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design</p>
      <p>加入独特设计</p>
    </div>
    <div class="w3-quarter">
      <i class="fa  w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>支持售后</p>
    </div>
  </div>
</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>An overview</h3>
      <p>基本的界面情况</p>
      <p><a href="#work" class="w3-button w3-black"><i class="fa "></i> 我们的工作</a></p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="/overview.png" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">我们的团队</h3>
  <p class="w3-center w3-large">努力工作</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/yyc-profile.png" alt="yyc" style="width:100%">
        <div class="w3-container">
          <h3>杨业昶</h3>
          <p class="w3-opacity">后端开发+前端js</p>
          <p>一只猫娘</p>
          <p><a class="w3-button w3-light-grey w3-block" href="mailto:1594088331@qq.com"><i class="fa "></i> Contact</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/gjc-profile.jpeg" alt="gjc" style="width:100%">
        <div class="w3-container">
          <h3>管进程</h3>
          <p class="w3-opacity">前端开发+美工</p>
          <p>每天进步一点点</p>
          <p><a class="w3-button w3-light-grey w3-block" href="mailto:1312873167@qq.com"><i class="fa "></i> Contact</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/cz-profile.jpg" alt="cz" style="width:100%">
        <div class="w3-container">
          <h3>陈正</h3>
          <p class="w3-opacity">数据库设计</p>
          <p>你好,世界</p>
          <p><a class="w3-button w3-light-grey w3-block" href="mailto:2560570216@qq.com"><i class="fa "></i> Contact</a></p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
    <h3 class="w3-center">花费时间</h3>
  <div class="w3-quarter">
    <span class="w3-xxlarge">55+</span>
    <br>Days
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">1320+</span>
    <br>Hours
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">79200+</span>
    <br>Minutes
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">4,752,000+</span>
    <br>Seconds
  </div>
</div>

<!-- Work Section -->
<div class="w3-container" style="padding:128px 16px" id="work">
    <div id="subpage" class="container-fluid bg-transparent shadow-lg p-3 mb-5 bg-body-tertiary rounded" >
      <div class="modal-header">
      <button id="close_win" type="button" class="btn btn-outline-info" >关闭</button>
      <p class="modal-title" id="myModalLabel" style="font-size:1.2em;color:skyblue;">数据库OJ文档</p>
      </div>
      <div class="container-fluid modal-body " style="height:80%;"><div class="row" style="height:100%;">
          <iframe src= "/report/main.html" width= "70%"></iframe>
      </div>

      </div>
    </div>
  <h3 class="w3-center">我们的工作</h3>
  <p class="w3-center w3-large">我们OJ的设计</p>



  <div class="w3-row-padding w3-section" align="center">
    <img id="graph" class="w3-center" src="/work.png">




  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>我们的OJ</h3>
      <p>代码统计</p>
    </div>
    <div class="w3-col m6">
      <p class="w3-wide"><i class="fa  w3-margin-right"></i>Javascript</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:69.2%">69.2%</div>
      </div>
      <p class="w3-wide"><i class="fa  w3-margin-right"></i>HTML</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:26.5%">26.5%</div>
      </div>
      <p class="w3-wide"><i class="fa  w3-margin-right"></i>CSS</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:4.0%">4.0%</div>
      </div>
    </div>
  </div>
</div>





<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey">To the top</a>

</footer>
<script src="/jui/jquery-3.7.0.min.js"></script>
<script src="/jui/jquery-ui.js"></script>
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>

<script>
    var test = document.querySelector('#ppp');
    txt = "开始进入SQL的世界吧";
    arrtxt = txt.split(''); //将文本转换为数组
    var i = 0,
        timer = setInterval(function () {
            i++;
            test.innerHTML = test.innerText + arrtxt[i - 1];
            if (i == arrtxt.length) {
                clearInterval(timer);
            }
        }, 222);
</script>

<script>
    $(document).ready(function () {
        $("#graph").click(function () {
            document.getElementById('subpage').style.display = 'block'
        });
        $("#close_win").click(function () {
            document.getElementById('subpage').style.display = 'none'
        })
    })
</script>
</body>
</html>